<a href="https://colab.research.google.com/github/hazel-10/python/blob/main/0312_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,11) :
  print(i)
  ''' 이것은 주석 연습 '''
  if i == 5 : #5 만나면 멈추기
    break

1
2
3
4
5

In [ ]:
def double(num) :
  '''function to double the value
  주석출력'''
  return 2*num
print (double.__doc__)

function to double the value
  주석출력

In [ ]:
print ('This sentence is output to the screen')
a=13
print ('The value of a is', a)
a=19
print ('The value of a is', a)

This sentence is output to the screen
The value of a is 13
The value of a is 19

In [ ]:
x=5; y=10
print ('The vlaue of x is {} and y is {}'.format(x,y))

The vlaue of x is 5 and y is 10

In [ ]:
print('I love {0} and {1}'.format('bread','butter'))
print('I love {1} and {0}'.format('bread','butter'))

I love bread and butter
I love butter and bread

In [ ]:
print('Hello {name}, {greeting}'.format(greeting = 'Good morning', name='John'))

Hello John, Good morning

In [ ]:
print('Hello {name}, {greeting[1]}'.format(greeting = ['Good morning','Good night'], name='John'))

Hello John, Good night

In [ ]:
x=(1==True)
y=(1==False)
print('x is',x)
print('y is',y)

x is True
y is False

In [ ]:
x=(1==True)
y=(1==False)
a=True+4
print(a)

5

In [ ]:
cus1=['홍길동','010-1234-5678',100] # 이름, 연락처, 포인트
cus2=['이커피','010-2345-6789',50]
cus_list=[cus1,cus2]
print(cus1)
print(cus1[0])
print(cus_list)
print(cus_list[0])
print(cus_list[1][0]) # --> [1] = cus2 / [0] = cus2[0]
print(cus_list[1][0],",",cus_list[1][1])

['홍길동', '010-1234-5678', 100]
홍길동
[['홍길동', '010-1234-5678', 100], ['이커피', '010-2345-6789', 50]]
['홍길동', '010-1234-5678', 100]
이커피
이커피 , 010-2345-6789

In [ ]:
t=(5,'program',1+3j,[1,2,3])
print("t[1] = ", t[1])
print (t[3][2])
t[3][2] = 4
print (t[3][2])
t[3][2] = 4,5,6
print (t[3][2])
print (t)

t[1] =  program
3
4
(4, 5, 6)
(5, 'program', (1+3j), [1, 2, (4, 5, 6)])

In [ ]:
c=(0000,[])

In [ ]:
str=10,10
list_enumerate = list(enumerate(str))
dict_enu = dict(enumerate(str))

In [ ]:
print(list_enumerate)
print(len(str))
print(type(str))
print(type(list_enumerate))

[(0, 10), (1, 10)]
2
<class 'tuple'>
<class 'list'>

In [ ]:
print(dict_enu)

{0: 10, 1: 10}