<a href="https://colab.research.google.com/github/hazel-10/python/blob/main/0319_%ED%9D%90%EB%A6%84%EC%A0%9C%EC%96%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IF 조건문 예시

In [ ]:
num=3
if num > 0 :
  print(num,"is a positive number.")
print("항상 출력")

3 is a positive number.
항상 출력

In [ ]:
num=-1
if num > 0 :
  print(num,"is a positive number.") # 조건이 만족하지 않아서 실행하지 않음
print("항상 출력")

항상 출력

if else 문

In [ ]:
num=3
if num > 0 :
  print("positive number or zero")
else :
  print("negative number")

positive number or zero

if...elif..else 문
- 조건이 여러개 있는 경우 사용

In [ ]:
num=3.4

if num>0:  # 조건 1
  print('postive number')
elif num==0:  # 조건2
  print('zero')
else:
  print('negative number')

postive number

Nested if ...elif...else  -> 중첩 조건문

In [ ]:
num = float(input("Enter a number : "))
if num >= 0:
  if num == 0:
    print('zero')
  else :
      print('positive number')
else :
  print('negative number')

Enter a number : 3
positive number

반복문
for loop

In [ ]:
numbers = [6,5,3,6,7,13,51,1]
sum=0

for val in numbers:
  sum = sum+val

print('The sum is', sum)

The sum is 92

In [ ]:
print(range(-9))
print(list(range(-9)))
print(list(range(9)))

#print(range(-17.5))
#print(range(17.5))

range(0, -9)
[]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
genre=['pop','rock','jazz']

for i in range(len(genre)):
  print('I like', genre[i])

for i in genre:
  print('I like', genre)

I like pop
I like rock
I like jazz
I like ['pop', 'rock', 'jazz']
I like ['pop', 'rock', 'jazz']
I like ['pop', 'rock', 'jazz']

while loop / while loop + else

In [ ]:
n = int(input("숫자를 입력하세요 : ")) #입력 값은 문자로 처리되어 '정수'로 형변환

sum = 0
i = 1

while i <= n :
  sum = sum+i
  i = i+1

print("1부터 입력한 값의 총합 : ", sum)

숫자를 입력하세요 : 13
1부터 입력한 값의 총합 :  91

위의 while 문을 for 문으로 해보기

In [ ]:
n = int(input("숫자를 입력하세요 : ")) #입력 값은 문자로 처리되어 '정수'로 형변환

sum = 0
i = 1

for i in range(1,n+1) :
  sum=sum+i

print("1부터 입력한 값의 총 합 : ",sum)

숫자를 입력하세요 : 13
1부터 입력한 값의 총 합 :  91

In [ ]:
counter = 0

while counter < 3 :
  print("Inside loop")
  counter = counter+1
else :
  print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [ ]:
counter = 4

while counter > 3 :
  print("Inside loop")
  counter = counter+1

  if counter == 15 : # 해당 코드가 없을 경우 무한루프
    break  #---> 무한루프시 break로 종료

else :
  print("Inside else")

Inside loop
Inside loop
Inside loop
Inside loop
Inside loop
Inside loop
Inside loop
Inside loop
Inside loop
Inside loop
Inside loop

break와 continue

In [ ]:
for val in "string" :
  if val == "i" :
    break
  print(val)
print ("끝!")

s
t
r
the end

In [ ]:
for val in "string" :
  if val == "i" :
    continue
  print(val)
print ("끝!")

s
t
r
n
g
the end

In [ ]:
# 짝수의 합계
"""for i in range(10):
  if i%2 == 0 :
    sum = sum+i """ # 짝수일때 더하기

"""for i in range(10) :
  if i % 2 != 0 : # 홀수 건너뛰기
    continue
    sum = sum+1"""

In [ ]:
## 1부터 입력받은 값 사이의 짝수의 합 구하기
n = int(input("숫자를 입력하세요 : "))

sum = 0


for i in range(1,n+1) :
  if i % 2 == 0 :
    sum = sum+i

print("입력한 값 중 짝수의 합 : ",sum)

숫자를 입력하세요 : 12
입력한 값 중 짝수의 합 :  42