<a href="https://colab.research.google.com/github/hazel-10/python/blob/main/%EC%B5%9C%ED%9D%AC%EC%A7%84_set_function%2Cmethod.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

※set = 고유한 item 들의 정렬되지 않은 모음

##Set function

---


|function|Description|
|--|--|
|all()|모든 요소가 참이거나 비어 있으면 True를 반환|
|any()|요소 중 하나라도 참이면 True를 반환|
|enumerate()|각 요소에 인덱스를 부여하여 (인덱스, 요소) 형태의 튜플을 생성하는 enumerate 객체를 반환|
|len()|요소 개수를 반환|
|max()|가장 큰 요소를 반환|
|min()|가장 작은 요소를 반환|
|sorted()|모든 항목에서 오름차순으로 재정렬 된 목록을 반환|
|sum()|모든 요소의 더한 값을 반환|

In [ ]:
#all() 예시
A={1,"a",17.5}
B={0,'b',16.3}
print(all(A)) #output:True
print(all(B)) #output:False

True
False

In [ ]:
#any() 예시
A={1,"a",17.5}
B={0,'b',16.3}
print(any(A)) #output:True
print(any(B)) #output:True

True
True

In [ ]:
#enumerate() 예시
animal={'강아지','고양이','거북이'}
for index, value in enumerate(animal):
  print(index, value) #set는 순서 없음

0 거북이
1 고양이
2 강아지

In [ ]:
#len() 예시
print(len(animal))

3

In [ ]:
#max() 예시
num={1,5,2,6,8,5,7}
print(max(num))

8

In [ ]:
#min() 예시
print(min(num))

1

In [ ]:
#sorted() 예시
print(sorted(num))

[1, 2, 5, 6, 7, 8]

In [ ]:
#sum() 예시
print(sum(num))

29


##Set method
|method|Description|
|--|--|
|add()|set에 요소 추가|
|clear()|set의 모든 요소 제거|
|copy()|set을 복사|
|difference()|다른 set의 요소를 제외한 차집합을 반환|
|difference_update()|다른 set에 있는 요소를 제거|
|discard()|set에서 요소를 제거 (요소가 없어도 오류 x)|
|intersection()|다른 set과의 교집합 반환|
|intersection_update()|다른 set과의 교집합으로 set 업데이트|
|isdisjoint()|다른 set과 공통 요소를 가지지 않으면 true 반환|
|issubset()|이 set의 모든 요소가 다른 set에 포함되면 true 반환|
|ssuperset()|다른 set의 모든 요소가 이 set에 포함되면 true 반환|
|pop()|특정 요소를 제거하고 반환(set이 비면 keyerror 발생)|
|remove()|요소를 제거|
|symmetric_difference()|이 set과 다른 set의 대칭 차집합을 반환|
|symmetric_difference_update()|이 set를 다른 set과의 대칭 차집합으로 업데이트|
|union()|이 set와 다른 set의 합집합을 반환
|update()|이 set에 다른 set의 요소를 추가하여 합집합으로 업데이트

In [ ]:
#*.add() 예시
AA={'a','b','c',1,2}
new.add(3)
print(AA)

{1, 2, 'b', 'c', 'a'}

In [ ]:
#*.clear() 예시
BB={'a','b','c',1,2}
BB.clear()
print(BB)

set()

In [ ]:
#*.copy() 예시
CC={'a','b','c',1,2}
DD=CC.copy()
print(CC)
print(DD)

{1, 2, 'b', 'c', 'a'}
{1, 2, 'b', 'c', 'a'}

In [ ]:
#*.difference() 예시
EE={1,2,3,4,5}
FF={1,3,5,7,9}
print(EE.difference(FF))
print(EE)

{2, 4}
{1, 2, 3, 4, 5}

In [ ]:
#*.difference_update() 예시
EE={1,2,3,4,5}
FF={1,3,5,7,9}
EE.difference_update(FF)
print(EE)

{2, 4}

In [ ]:
#*.discard() 예시
print(FF)
FF.discard(5)
print(FF)

{1, 3, 5, 7, 9}
{1, 3, 7, 9}

In [ ]:
#*.intersection() 예시
GG={1,2,3,4,5}
HH={1,3,5,7,9}
print(GG.intersection(HH))
print(GG)

{1, 3, 5}
{1, 2, 3, 4, 5}

In [ ]:
#*.intersection_update() 예시
GG={1,2,3,4,5}
HH={1,3,5,7,9}
GG.intersection_update(HH)
print(GG)

{1, 3, 5}

In [ ]:
#*.isdisjoint() 예시
II={1,2,3,4,5}
JJ={3,4,5,6,7}
KK={11,12,13,14,15}
print(II.isdisjoint(JJ))
print(II.isdisjoint(KK))

False
True

In [ ]:
#*.issubset() 예시
JJ={3,4,5,6,7}
LL={3,4,5}
print(JJ.issubset(LL))

False

In [ ]:
#*.issuperset() 예시
JJ={3,4,5,6,7}
LL={3,4,5}
print(JJ.issuperset(LL))

True

In [ ]:
#*.pop() 예시
print(JJ.pop())
print(JJ)

3
{4, 5, 6, 7}

In [ ]:
#*.remove() 예시
KK={11,12,13,14,15}
print(KK.remove(11))
print(KK)

None
{12, 13, 14, 15}

In [ ]:
#*.symmetric_difference() 예시
JJ={3,4,5,6,7}
KK={11,12,13,14,15}
print(JJ.symmetric_difference(KK))
print(JJ)

{3, 4, 5, 6, 7, 11, 12, 13, 14, 15}
{3, 4, 5, 6, 7}

In [ ]:
#*.symmetric_difference_update() 예시
JJ={3,4,5,6,7}
KK={11,12,13,14,15}
print(JJ.symmetric_difference_update(KK))
print(JJ)

None
{3, 4, 5, 6, 7, 11, 12, 13, 14, 15}

In [ ]:
#*.union() 예시
II={1,2,3,4,5}
JJ={3,4,5,6,7}
print(II.union(JJ))
print(II)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5}

In [ ]:
#*.update() 예시
II={1,2,3,4,5}
JJ={3,4,5,6,7}
print(II.update(JJ))
print(II)

None
{1, 2, 3, 4, 5, 6, 7}