<a href="https://colab.research.google.com/github/hazel-10/python/blob/main/%EC%B5%9C%ED%9D%AC%EC%A7%84_tuple_method%2Cfunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

※tuple = 순서가 정해져있는 item들의 모음 / 변경(재할당)은 불가

##tuple method

---


|method|Description|
|--|--|
|count()|특정 item 몇개 있는지 갯수 반환|
|index()|특정 item이 처음 나타나는 위치를 인덱스로 반환 / 없으면 오류발생|

In [ ]:
#count() 예제
AA=('고양이','강아지','토끼','쿼카','백로','강아지','오리','강아지')
print(AA.count('강아지'))

3

In [ ]:
AA=('고양이','강아지','토끼','쿼카','백로','강아지','오리','강아지')
print(AA.count('멍멍이')) #갯수가 0이라 0 반환

0

In [ ]:
#index() 예제
AA=('고양이','강아지','토끼','쿼카','백로','강아지','오리','강아지')
print(AA.index('강아지'))

1

In [ ]:
#count() 예제
AA=('고양이','강아지','토끼','쿼카','백로','강아지','오리','강아지')
print(AA.index('멍멍이')) # 반환할 인덱스가 없어서 오류 발생

ValueError: tuple.index(x): x not in tuple

##tuple function

---


|function|Description|
|--|--|
|len()|item들의 총 갯수 반환|
|max()|item중 가장 큰 값 반환 / 문자의 경우 A~Z, ㄱ~ㅎ 등 순서의 끝일수록 큰 값|
|min()|item중 가장 작은 값 반환/ 문자의 경우 A~Z, ㄱ~ㅎ 등 순서의 앞일수록 작은 값|
|sum()|모든 item들의 합(숫자형에서만 가능)|
|tuple()|튜플로 형변환|
|reversed()|item 순서가 반전된 반복 가능 객체 반환|
|sorted()|오름차순으로 정렬한 리스트 반환/reverse=True 사용하면 내림차순으로 정렬|
|all()|모든 요소가 참일경우 참, 하나라도 거짓이면 거짓 반환|
|any()|하나라도 참일 경우 참, 모두 거짓일 경우 거짓 반환|

In [ ]:
#len() 예제
AA=('고양이','강아지','토끼','쿼카','백로','강아지','오리','강아지')
print(len(AA))

8

In [ ]:
#max() 예제
AA=('고양이','강아지','토끼','쿼카','백로','강아지','오리','강아지') #순서대로
BB=(13,17,31,26,5,10)
CC=('Monday')
print(max(AA))
print(max(BB))
print(max(CC))

토끼
31
y

In [ ]:
#min() 예제
AA=('고양이','강아지','토끼','쿼카','백로','강아지','오리','강아지') #순서대로
BB=(13,17,31,26,5,10)
C=('Monday')
print(min(AA))
print(min(BB))
print(min(CC))

강아지
5
M

In [ ]:
#sum()예제
AA=('고양이','강아지','토끼','쿼카','백로','강아지','오리','강아지')
BB=(13,17,31,26,5,10)
print(sum(BB))

102

In [ ]:
AA=('고양이','강아지','토끼','쿼카','백로','강아지','오리','강아지')
BB=(13,17,31,26,5,10)
print(sum(AA)) # 숫자형만 가능

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#tuple(),reversed() 예제
AA=('고양이','강아지','토끼','쿼카','백로','강아지','오리','강아지')
BB=tuple(reversed(AA))
print(BB)

('강아지', '오리', '강아지', '백로', '쿼카', '토끼', '강아지', '고양이')

In [ ]:
#sorted()예제
AA=('고양이','강아지','토끼','쿼카','백로','강아지','오리','강아지')
print(sorted(AA))
print(sorted(AA,reverse=True))
print(AA) # 튜플은 원본 변경 x

['강아지', '강아지', '강아지', '고양이', '백로', '오리', '쿼카', '토끼']
['토끼', '쿼카', '오리', '백로', '고양이', '강아지', '강아지', '강아지']
('고양이', '강아지', '토끼', '쿼카', '백로', '강아지', '오리', '강아지')

In [ ]:
#all()예제
a=(1,2,3,4,5)
b=(1,0,1,0,5)
c=('A','B','C')
print(all(a))
print(all(b))
print(all(c))

True
False
True

In [ ]:
#any()예제
a=(1,2,3,4,5)
b=(1,0,1,0,5)
c=('A','B','C')
print(any(a))
print(any(b))
print(any(c))

True
True
True